@charset "UTF-8";

@media screnn and (min-width: 600px) {

    header > span {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li { 
        display: inline-block;

    }
} 